username cisco
 group root-lr
 group cisco-support
 secret 10 $6$m69UO/m0cK.e3O/.$EtYXDVl3/aphJkazxKy145fyIY/./Xxt1fi7B3tjYemXr6pzHEJRNfq1DxNJ..WlAQx4wFr6kJesSGtKLv8/k/
!
vrf mgmt
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method email disable
  destination transport-method http
 !
!
interface MgmtEth0/RP0/CPU0/0
 vrf mgmt
 ipv4 address 192.168.18.{{ protocols.isis[0].sid }} 255.255.255.0
 no shutdown
!
grpc
 dscp cs4
 port 57400
 no-tls
 max-streams 128
 max-streams-per-user 128
 address-family dual
 max-request-total 256
 max-request-per-user 32
!
ssh server vrf mgmt
ssh server vrf default
root
!

